<div layout="vertical" layout-fill>

  <md-content flex class="body">
    <header>
      <nav-bar md-whiteframe-z2></nav-bar>
    </header>

    <md-content class="mid-content" data-ng-controller="ManagementController as vm">
      <div class="main-content">
        <div class="length max-width" layout-align="space-between center">

          <h1 class="cyan">Edit series</h1>
          <md-divider class="bg-cyan max-width"></md-divider>

          <section layout="column" layout-align="space-around stretch">
            <div class="manage-line" layout="row" layout-align="start center">
              <p flex=15 class="manage-text">Title</p>
              <input class="manage-input" type="text" ng-model="_title"/>
            </div>
            <div class="manage-line" layout="row" layout-align="start center">
              <p flex=15 class="manage-text">Author</p>
              <input class="manage-input" type="text" ng-model="_author"/>
            </div>
            <div class="manage-line" layout="row" layout-align="start center">
              <p flex=15 class="manage-text">Genres</p>
              <input class="manage-input" type="text" ng-model="_genres"/>
            </div>
            <div class="manage-line" layout="row" layout-align="start center">
              <p flex=15 class="manage-text">Completed</p>
              <md-checkbox flex class="status-box" ng-model="isCompleted"/>
            </div>
            <div class="manage-line" layout="row" layout-align="start center">
              <p flex=15 class="manage-text">Description</p>
              <textarea class="manage-input-area" type="text" rows="10" cols="50" ng-model="_description"></textarea>
            </div>
            <div class="manage-line" layout="row" layout-align="start center">
              <p flex=15 class="manage-text">Cover Image</p>
              <input class="manage-input-file" type="file" ng-file-model="files"/>
            </div>

            <button ng-click="editSeries()" class="admin-button">
              Confirm
            </button>
          </section>

        </div>
      </div>
    </md-content>
  </md-content>

</div>
