.footer
{
  min-height: 130px;
  background-color: #212121;
}
.link {
  width: 90%;
  margin: auto;
  padding: 10px;
}
.link-text {
  color: grey;
  cursor: pointer;
  cursor: hand;
  margin: 15px;
  outline: none;
}
.footer-text {
  color: grey;
  margin: 15px;
}
.link-text:hover {
  color: lightgrey;
}
.link-section {
  margin: 15px;
}
.footer-title-text {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #80DEEA;
}
.footer-title-text-index {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 30px;
  color: #80DEEA;
}
