<md-content class="footer">
  <section class="link" layout="column" layout-gt-xs="row" layout-align="space-between center">
    <div layout="row" flex-gt-xs=50 flex-gt-sm=40 flex-gt-md=30 layout-align="start center">
      <div class="link-section" flex>
        <div class="link-text" ng-click="vm.go('')">Home</div>
        <div class="link-text" ng-click="vm.go('archive')">Archive</div>
        <div class="link-text" ng-click="vm.go('contact')">Contact</div>
      </div>
      <div class="link-section" flex>
        <div class="link-text">Action</div>
        <div class="link-text">Adventure</div>
        <div class="link-text">Mystery</div>
      </div>
      <div class="link-section" flex>
        <div class="link-text">Drama</div>
        <div class="link-text">Horror</div>
        <div class="link-text">Romance</div>
      </div>
      <div class="link-section" flex>
        <div class="link-text">Comedy</div>
        <div class="link-text">Fantasy</div>
        <div class="link-text">Sci-fi</div>
      </div>
      <div flex>
      </div>
    </div>
    <div flex-gt-sm=25></div>
    <div layout-align="end center">
      <div class="link-text">Tel: (+84)942654141</div>
      <div class="link-text">Email: ReaderGate@gmail.com</div>
      <div class="link-text">Twitter: twitter.com/readergate</div>
    </div>
  </section>
</md-content>
