<md-content class="footer">
  <section class="link" layout="column" layout-gt-xs="row" layout-align="space-between center">

    <div layout="column" flex=50>
      <div flex=100 class="footer-title-text-index">
        <md-icon class="main-icon-aligned"><i class="cyan material-icons md-36">list</i></md-icon>
        Index
      </div>
      <div layout="row" flex=100 layout-align="start center">
        <div class="link-section" flex-gt-lg=5 flex-gt-md=10 flex=15>
          <div class="link-text" ng-click="vm.go('')">Home</div>
          <div class="link-text" ng-click="vm.go('archive')">Archive</div>
          <div class="link-text" ng-click="vm.go('about')">About</div>
        </div>
        <div class="link-section" flex>
          <div class="link-text" ng-click="vm.goToSortArchive(0, '/archive')">Sort by Name</div>
          <div class="link-text" ng-click="vm.goToSortArchive(1, '/archive')">Sort by Popularity</div>
          <div class="link-text" ng-click="vm.goToSortArchive(2, '/archive')">Sort by Newest</div>
        </div>
      </div>
    </div>

    <div layout-align="end center">
      <div class="footer-title-text">
        <md-icon class="main-icon-aligned"><i class="cyan material-icons md-36">contacts</i></md-icon>
        Contact
      </div>
      <div class="footer-text">Tel: (+84)942654141</div>
      <div class="footer-text">Email: ReaderGate@gmail.com</div>
      <div class="footer-text">Twitter: twitter.com/readergate</div>
    </div>
  </section>
</md-content>
