<md-toolbar id="navbar" layout-gt-sm="row" layout="column" layout-align="space-around stretch">

  <div layout="row" flex-gt-sm=40 flex=100 flex-offset=5 layout-align="start center">
    <md-button href="#/" id="logo-button" flex-xs=20 layout="row" layout-align="start center">
      <img id="logo" src="assets/images/readergate.png" />
      <span hide-xs>ReaderGate</span>
    </md-button>

    <div layout="row" flex-gt-xs=50 flex-xs layout-align="center center">
      <md-button class="menu-button" ng-repeat="item in vm.navItems" href={{item.href}}>
        {{ item.name }}
      </md-button>
    </div>
  </div>
  <div layout="row" flex-gt-sm=40 flex=90 flex-offset-gt-sm=0 flex-offset=10 layout-align="start center">
    <md-input-container flex=50 id="search-box" md-no-float md-padding>
      <input class="grey" ng-model="user.phone" type="text" placeholder="Search">
      <md-icon><i class="cyan material-icons md-24">search</i>
    </md-input-container>

    <div layout="row" flex=40>
      <md-button class="menu-button" ng-show="!vm.signIn" href="#login">Login</md-button>
      <md-button class="menu-button" ng-show="!vm.signIn" href="#register">Register</md-button>
      <md-button class="menu-button" ng-show="vm.signIn">Hello!</md-button>
      <md-button class="menu-button" ng-show="vm.signIn" ng-click="vm.logOut()">Logout</md-button>
    </div>
  </div>
</md-toolbar>
