<md-toolbar id="navbar" layout-gt-sm="row" layout="row" layout-align="space-around center">

  <div layout="row" flex-gt-sm flex=80 flex-offset-gt-sm=5 layout-align="start center">
    <md-content ng-click="vm.go('')" id="logo-button" flex-xs=20 layout="row" layout-align="start center">
      <img id="logo" src="assets/images/readergate.png" />
      <span hide-xs>ReaderGate</span>
    </md-content>

    <div class="menu-bar" layout="row" flex-gt-xs=40 flex-xs layout-align="start center">
      <button class="menu-button" ng-repeat="item in vm.navItems" ng-click="vm.go(item.href)" ng-class="{'menu-button-active': vm.selectedTab === item.name}">
        {{ item.name }}
      </button>
    </div>
  </div>

  <div layout="row" layout-align="end center">
    <md-input-container id="search-box" md-no-float layout-align="end center">
      <form ng-submit="vm.goSearchQuery()">
      <input hide-xs hide-sm class="grey" ng-model="vm.search" type="text"
      placeholder="Search">
    </form>
      <md-icon ng-click="vm.goSearch()" class="search-button"><i class="cyan material-icons md-12">search</i></md-icon>
    </md-input-container>

    <div layout="row" class="menu-bar" layout-align="end center">
    <button class="display-name" ng-show="signIn" ng-click="vm.go('profile')">
      {{vm.displayName}}
    </button>
    <button class="menu-button" ng-show="signIn" ng-click="vm.logOut()">Logout</button>
      <button class="menu-button" ng-show="!signIn" ng-click="vm.go('login')" ng-class="{'menu-button-active': vm.selectedTab === 'Login'}">Login</button>
      <button class="menu-button" ng-show="!signIn" ng-click="vm.go('register')" ng-class="{'menu-button-active': vm.selectedTab === 'Register'}">Register</button>
    </div>
  </div>
  <div flex-gt-sm=5></div>
</md-toolbar>
