<div layout="vertical" layout-fill>

  <md-content flex>
    <header>
      <nav-bar md-whiteframe-z2></nav-bar>
    </header>

    <md-content class="mid-content" data-ng-controller="LoginController as vm">
      <div class="main-content">
        <div class="length" layout-align="space-between center">
            <form flex=100 layout="column" name="myform" ng-submit="register()" layout-align="space-between center" novalidate>

              <div class="margin-center">
                <h1 class="cyan">Login</h1>
                <p class="red margin center-text" ng-show="vm.message">{{vm.message}}</p>
              </div>

              <fieldset flex class="form-container" layout="column" layout-align="space-between center">

                <input class="form-input" type="email" name="email" placeholder="Email" ng-model="vm.email" ng-required="true">

                <input class="form-input" type="password" name="password" placeholder="Password" ng-model="vm.password" ng-required="true">

              </fieldset>

              <button class="button-submit" ng-click="vm.handleLogin()">Login</button>
              <span class="link-text"><a ng-href="#/register">Don't have an account? Register here!</a></span>


            </form>

        </div>
      </div>
    </md-content>
  </md-content>

</div>
