<div layout="vertical" layout-fill>

  <md-content flex>
    <header>
      <nav-bar md-whiteframe-z2></nav-bar>
    </header>

    <div class="bg-grey body">
      <p>Book: </p>
      <input type="text" ng-model="book" />
      <p>Chapter: </p>
      <input type="text" ng-model="chapter" />
      <br>
      <br>
      <input type="file" ng-file-model="files" multiple />
      <button type="button" ng-click="upload()">Upload</button>

      <p ng-repeat="file in files">
        {{file.name}}
      </p>

    </div>

  </md-content>

</div>
