@keyframes outline {
  0% {
    box-shadow: 0 0 1px #212121;
  }
  20% {
    box-shadow: 0 0 5px #0097A7;
  }
  100% {
    box-shadow: 0 0 15px #26C6DA;
  }
}
com-card {
  height: 100%;
}
.comcard-image-container {
  width: 100%;
  position: relative;
}
.aspect-ratio {
  width: 100%;
  height: auto;
}
.comcard-image {
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 0; left: 0;
}
.comcard {
  height: auto;
  outline: transparent solid 5px;
  margin-top: 20px;
}
.comcard:hover {
  box-shadow: 0 0 15px #26C6DA;
  animation: outline 1s;
}
.card-title-text-container {
  font-size: 25px;
  padding: 15px;
  min-height: 60px;
  max-height: 60px;
  background-color: #00BCD4;
  color: white;
}
.card-title-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content {
  background-color: #E0F7FA;
}
.card-info {
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 35px;
  max-height: 35px;
  color: #00ACC1;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-click-area {
  cursor: pointer;
  cursor: hand;
}
