<md-card class="comcard">
  <div class="card-click-area">
  <div class="comcard-image-container">
    <img class="comcard-image" src="{{ vm.cover }}" />
  </div>
  <md-card-title class="card-title-text black">
    <div>{{ vm.name }}</div>
  </md-card-title>
</div>
<md-divider></md-divider>
  <md-card-content>
    <div class="card-info"> <span class="bold">Genres:</span> {{ vm.genres }} </div>
    <div class="card-info"> <span class="bold">Author:</span> {{ vm.author }} </div>
  </md-card-content>
</md-card>
